/* How to import fonts:
@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');
font: normal 14px/28px Montserrat; color: hsl(180, 40%, 40%); */

html,body {
	height: 100%;
}

.jumbotron {
	height: 88%;
	background: url('../imgs/hero-image.jpg') no-repeat center center fixed;
	background-size: cover;
	padding: 3%;
}
.jumbotron .container {
	width: 100%;
	max-width: 800px;
	height: 90%;
	background: #000;
	text-align: center;
	padding: 7% 0 0 0;
}
.logo {
	background: #FF0000/*url('../imgs/placeholder.png')*/;
	width: 550px;
	height: 160px;
	font-size: 60px;
}