/* How to import fonts:
@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');
font: normal 14px/28px Montserrat; color: hsl(180, 40%, 40%); */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Lora);

html,body {
	height: 100%;
	min-width: 320px;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
}
h1 {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 1.5em;
	font-weight: bold;
}
h2 {

}
.row {
	max-width: 1200px;
	margin: auto;
}

/* Logo Section */
.jumbotron {
	background: url('../imgs/hero-image.jpg') no-repeat center center fixed;
	background-size: cover;
	color: #FFF;
	text-align: center;
	margin-bottom: 0px;
}
	.jumbotron img {
		width: 80%;
		max-width: 900px;
		min-width: 300px;
		border: 2px solid white;
		border-radius: 50%;
		min-height: 300px;
	}
	.jumbotron a {
		color: #FFF;
		text-decoration: none;
	}
	.jumbotron a:hover {
		color: #FFCC66;
	}
.headerContainer {
	margin: auto;
	width: 98%;
	padding: 1%;
	max-width: 80vh;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0;
}
.logo {
	position: absolute;
	background: url('../imgs/title.png') no-repeat center center;
	background-size: contain;
	width: 100%;
	height: 51%;
	top: 5%;
}
.motto {
	position: absolute;
	top: 56%;
	left: 25%;
	width: 50%;
}
.discoverBtn {
	position:  absolute;
	width: 28%;
	top: 80%;
	left: 36%;
	border: 1px dotted white;
	padding: 5px 0;
}

/* First info section */
.b-town {
	background: url('../imgs/btown.png') no-repeat;
	background-position: 100% 0;
	background-size: contain;
}
#infoContainer {
	width: 80%;
	margin: auto;
	background: url('../imgs/Map.png') no-repeat;
	background-position: right -20px;
	background-size: contain;
}
#infoContainer p {
	width: 60%;
}
.clcb {
	font-style: italic;
	font-family: "Open Sans";
   	font-size: x-large;
   	font-weight: 300;
   	padding: 20px 0;
}
#info {
	padding: 5% 0;
	margin: 0;
}
.red-btn {
	position: relative;
	padding: 10px;
	text-align: center;
	width: 165px;
	text-transform: uppercase;
	z-index: 2;
	color: #D83965;
	font-weight: bold;
}
.red-btn a {
	position: absolute;
	top: 50%;
	left: 12%;
	z-index: 999;
	color: #D83965;
}
.rbBox1 {
	border: 2px solid #D83965;
	position: absolute;
	width: 100%;
	height: 40px;
	top: -3px;
	left: -3px;
}
.rbBox2 {
	border: 2px solid #D83965;
	position: absolute;
	width: 100%;
	height: 40px;
	top: 3px;
	left: 3px;
}
#seeVacancies {
	margin-bottom: 20%;
}


/* 5 Reasons Section */
.five-reasons {
  background: url('../imgs/Boat2.png') center center no-repeat;
  background-size: cover;
  position: relative;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  height: 100vh;
}
.reasons {
	position: absolute;
	font-size: 2em;
	top: 32%;
	left: 42%;
	letter-spacing: -1px;
	color: #B1AFA5;
}
.awesome {
	position: absolute;
	font-size: 5em;
	top: 34%;
	left: 44%;
	font-weight: bold;
	color: #60898F;
	letter-spacing: -4px;
}

/* Location section */
.loc-section {
	background: #C2FFE8;
}
.loc-section img {
	width: 100%;
	height: auto;
}
.loc-row {
	margin: 5% auto;
}
.loc-line {
	width: 100%;
	height: 200px;
	background: url('../imgs/loc-topline.jpg') center center no-repeat;
}
.loc-line-bottom {
	margin-top: -5%;
}
.loc-title-container {
	position: static;
	width: 200px;
	height: 200px;
	margin-bottom: 8%;
}
.loc-title {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	padding: 20%;
}
.loc-title:before {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	
	top: -10px;
	left: -10px;
	position: absolute;
	border: 2px solid #968863;
}
.loc-title:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	
	top: 10px;
	left: 10px;
	position: absolute;
	border: 2px solid #968863;
}
.loc-text-one {
	display: block;
	font-size: 5em;
	line-height: 1;
	font-family: "Abril Fatface";
	color: #968863;
	opacity: 0.5;
}
.loc-text-location {
	font-size: 1.8em;
	font-family: 'Lora', serif;
	color: #968863;
}

/* Commute Section */

.com-section {
	background: url('../imgs/commutebg.jpg') center center no-repeat;
	background-size: 100% 100%;
	position: static;
	min-height: 85vh;
	padding: 6% 0;
}
.com-title {
	position: relative;
	display: block;
	height: 200px;
	width: 200px;
	border: 2px solid #968863;
	margin: auto;
	text-align: center;
	z-index: 999;
}
.com-title-text-2 {
	display: block;
	font-size: 5em;
	font-weight: bold;
	opacity: 0.6;
	font-family: "Abril Fatface";
	color: #968863;
	margin-bottom: 8%;
}
.com-title-text-ctw {
	display: block;
	font-size: 1.3em;
	font-family: 'Lora', serif;
	color: #FFF;
}
.com-row {
	background: url('../imgs/grey-box.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
	min-height: 300px;
	height: 65vh;
	height: 100%;
	padding: 120px 0 0 0;
	margin-top: -100px;
	z-index: 1;
	max-height: 600px;
}
.com-col-lon {
	background: url('../imgs/commute-london.jpg') center center no-repeat;
	background-size: cover;
	margin: 2% 0% 2% 2%;
	min-height: 200px;
	height: 55vh;
	max-height: 400px;
}
.com-col-bomo {
	background: url('../imgs/commute-bike.jpg') center center no-repeat;
	background-size: cover;
	margin: 2% 2% 2% 0%;
	min-height: 200px;
	height: 55vh;
	max-height: 400px;
}
.com-col-vs {
	min-height: 55vh;
	min-height: 200px;
	height: 55vh;
	max-height: 400px;
}
.com-col-text-bomo {
	display: block;
	position: absolute;
	bottom: -6%;
	right: -10%;
	font-size: 5em;
	font-weight: bold;
	color: #FFF;
	opacity: 0.75;
	max-height: 450px;
}
.com-col-text-lon {
	display: block;
	position: absolute;
	bottom: -6%;
	left: -10%;
	font-size: 5em;
	font-weight: bold;
	color: #FFF;
	opacity: 0.75;
}
.com-col-text-vs {
	display: block;
	position: absolute;
	bottom: -10%;
	left: -90%;
	font-weight: bold;
	color: #FFF;
	font-size: 12em;
	z-index: 999;
	line-height: 0.7;
	font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
.com-info-section {
	background: #FFF; 
	margin-top: -12%;
	padding: 5% 0 3% 0;
}
.com-info-section p {
	max-width: 460px;
	margin: 5% auto 0;
}
/* v Jack v */ 
/*Club */
.clubImg {
	background: url('../imgs/club.jpg') no-repeat center center;
	background-size: cover;
	color: #FFF;
	text-align: center;
	height:933px;
}
.boxOutline1{
	border:3px solid;
	border-color: #2E8ED8;
	width:225px;
	height:225px;
	color:transparent;
	position:absolute;
	margin-left:20.5%;
	margin-top:260px;
}
.boxOutline2{
	border:3px solid;
	border-color: #2E8ED8;
	width:225px;
	height:225px;
	color:transparent;
	position:absolute;
	margin-left:20%;
	margin-top:250px;
}
.boxDescDiv{
	position:absolute;
	color:transparent;
	height:40%;
	width:24%;
	margin-top:250px;
	margin-left:35%;
	border-color:white;
}
.boxDesc{
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:white;
	text-align:left;
	letter-spacing: 2px;
}
.s4{
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #99AAB1;
	font-size:50pt;
	margin-top:25px;
	margin-left:-5%;
	margin: 0 auto;
}
.s4Text{
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20pt;
	color: white;
	margin-top:-15px;
	width:75%;
	margin: 0 auto;
}
.section4Slider{
	
	position:absolute;
	margin-left:40%;
	margin-top:550px;
	width:35%;
	height:30%;
	border-color:white;
	border:1px solid;
}
  .carouselContainer{
  margin-top:28%;
  margin-left:40%;
  position:absolute;
  width:45%;
  height:25%;
  
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
  max-width: 503px;
  height: 224px;
  margin: auto;
  }
  
  .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
  }
  .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}
/*End Club */
/*Grid */
#vacanciesGrid .row{
    margin: 0 auto;
	background:#090923 ;
    text-align:center;
    color:white; 
    border:1px solid #090923 ;
    border-radius:4px;
    margin-bottom:20px;
    min-height:20px;
    padding:50px;
    width:80%;
}
.box1{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14pt;
	height:270px;
	width:100%;
	
	
}
.box2{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14pt;
	height:160px;
	width:360px;
	margin: 0 auto;
	border:3px dotted;
	border-color: white;
	margin-top:10px;
	
}
.box3{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14pt;
	height:90%;
	width:95%;
	margin: 0 auto;
	margin-top:8px;
	background-color:white;
}
.s5{
	text-align: center;
	color: #B3B3BB;
	font-size:50pt;
}
.s5Text{
	text-align: center;
	font-size: 20pt;
	margin-top:-15px
}
.s5Img{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14pt;
	height:150px;
	width:100%;
	border:1px solid;
	border-color:transparent
}
.blueLine {
	background: url('../imgs/blue-line.jpg')  center center no-repeat;
	background-size: contain;
	height: 150px;
	width: 100%;
}
.jobTitle{
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   font-size:14pt;
	height:70px;
    /*font-stretch: condensed;*/
}
.jobDesc{
	font-family: "calibri", "sans-serif";
	font-size:10pt;
	margin: 0 auto;
	width: 70%;
	min-width:70%;
    
}
.titleOutline1{
	border:2px solid;
	border-color: white;
	width:56%;
	height:80px;
	color:transparent;
	position:absolute;
	margin-left:20%;
	margin-top:-20px;
}
.titleOutline2{
	border:2px solid;
	border-color: white;
	width:56%;
	height:80px;
	color:transparent;
	position:absolute;
	margin-left:18%;
	margin-top:-30px;
}
#vacanciesGrid{
    background: #090923;
    width:100%;
}
#vacanciesGrid .col-md-4, .col-sm-6, .col-xs-12 {
    margin-bottom: 120px;
}
/*End Grid*/
