/* Media queries: */

/* Styles for screen size smaller than and equal to (max-width): */
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.discoverBtn {
		width: 40%;
		left: 30%;
		top: 75%;
	}
	.motto {
		font-size: xx-small;
		width: 70%;
		left: 15%;
	}
	#infoContainer p {
		width: 100%;
	}
	.com-text-lon {
		position: static;
		display: block;
		margin-top: -1em;
	}
	.com-text-bomo {
		position: static;
		display: block;
		margin-top: -1em;
		font-size: 2em;
	}
	.com-text-vs {
		position: static;
		display: block;
		font-size: 7em;
		left: 36%;
		bottom: -5%;
	}


/*jack section 3*/


.map-background {
	background: url('../imgs/section3.jpg') no-repeat center center;
	background-size: cover;
	padding: 140px 0 2% 0;
	position: static;
	min-height: 100vh;
}

.s3left{
	color:transparent;
	width:100%;
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:black;
	text-align:center;
	letter-spacing: 2px;
}

.s3right{
	color:transparent;
	width:100%;
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:black;
	text-align:center;
	letter-spacing: 2px;
}


.row-map{
	max-width: 80%;
	height:80vh;
	margin: auto;
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.row-map-row{
	max-width: 100%;
	height:70vh;
	margin: auto;
}

.box-outline-m{
	position: absolute;
	width: 250px;
	height: 250px;
	margin: 0% 0%;
}
.box-m{
	position: absolute;
	background-color:#ED6975;
	width: 100%;
	height:100%;
	margin: auto;
}

}

/*jack section 3 end*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.motto {
		font-size: small;
		width: 50%;
	}
	.discoverBtn {
		font-size: small;
		letter-spacing: 0;
	}
	#infoContainer p {
		width: 80%;
	}
	.loc-title-container {
		margin: 0 auto 15%;
	}
	.five-reasons {
		background: url('../imgs/boatscale.jpg') top center no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 50%;
	}
	.five-container {
		margin-top: -120px;
		height: 240px;
	}
	.five {
		font-size: 6em;
		color: #968863;
	}
	.reasons {
		position: static;
		font-size: 1.8em;
		top: 32%;
		left: 42%;
		letter-spacing: -1px;
		color: #B1AFA5;
	}
	.awesome {
		position: static;
		font-size: 4em;
		top: 34%;
		left: 44%;
		font-weight: bold;
		color: #60898F;
		letter-spacing: -4px;
	}
	.loc-line-bottom {
		margin: 0;
	}



	.com-row {
		min-height: 60vh;
		text-align: center;
		padding: 10vh 0;
	}
	.com-img-lon {
		position: static;
		width: 60%;
	}
	.com-col-vs {
		min-height: 0 !important;
		height: auto;
		text-align: center;
	}
	.com-text-lon {
		position: static;
		display: block;
		margin-top: -1em;
	}
	.com-text-bomo {
		position: static;
		display: block;
		margin-top: -1em;
		font-size: 4.5em;
	}
	.com-text-vs {
		position: static;
		display: block;
		font-size: 7em;
		left: 36%;
		bottom: -5%;
	}
	.com-text-wrapper {
		font-size: 0.6em;
	}
	
	/*jacks section 3*/
	.map-background {
	background: url('../imgs/section3.jpg') no-repeat center center;
	background-size: cover;
	padding: 140px 0 2% 0;
	position: static;
	min-height: 100vh;
}

.s3left{
	color:transparent;
	width:100%;
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:black;
	text-align:center;
	letter-spacing: 2px;
}

.s3right{
	color:transparent;
	width:100%;
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:black;
	text-align:center;
	letter-spacing: 2px;
}

.row-map{
	max-width: 80%;
	height:80vh;
	margin: auto;
}

.row-map-row{
	max-width: 100%;
	height:70vh;
	margin: auto;
}

.box-outline-m{
	position: absolute;
	width: 250px;
	height: 250px;
	margin: 0% 0%;
}
.box-m{
	position: absolute;
	background-color:#ED6975;
	width: 100%;
	height:100%;
	margin: auto;
}
	/*section 3 end*/ 
	
	}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	/*jacks section 3*/
	.map-background {
	background: url('../imgs/section3.jpg') no-repeat center center;
	background-size: cover;
	padding: 140px 0 2% 0;
	position: static;
	min-height: 100vh;

}

.s3left{
	color:transparent;
	width:100%;
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:black;
	text-align:center;
	letter-spacing: 2px;
}

.s3right{
	color:transparent;
	width:100%;
	position:absolute;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:9pt;
	color:black;
	text-align:center;
	letter-spacing: 2px;
}

.row-map{
	max-width: 80%;
	height:80vh;
	margin: auto;
}

.row-map-row{
	max-width: 100%;
	height:70vh;
	margin: auto;
}

.box-outline-m{
	position: absolute;
	width: 250px;
	height: 250px;
	margin: 0% 0%;
}
.box-m{
	position: absolute;
	background-color:#ED6975;
	width: 100%;
	height:100%;
	margin: auto;
}
	/*section 3 end*/ 
}
/* Commuute area specific queries */
@media only screen and (max-width : 1267px) {
	.com-text-lon {
		left: 0;
	}
	.com-text-bomo {
		right: 0;
	}
	.com-text-wrapper {
		font-size: 0.6em;
	}
}





/* Styles for screen size greater than and equal to (min-width): */
@media only screen and (min-width : 769px) {
	.five {
		display: none;
	}
}







/* Viewport height media queries: */
@media only screen and (max-height: 545px) {
	.discoverBtn {
		width: 50%;
		left: 25%;
		top: 75%;
		font-size: x-small;
	}
	.motto {
		font-size: xx-small;
		width: 70%;
		left: 15%;
	}
	#infoContainer p {
		width: 100%;
	}
	.bounce {
		display: none;
	}
}