/* Media queries: */

/* Styles for screen size smaller than and equal to (max-width): */
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.discoverBtn {
		width: 40%;
		left: 30%;
		top: 75%;
	}
	.motto {
		font-size: xx-small;
		width: 70%;
		left: 15%;
	}
	#infoContainer p {
		width: 100%;
	}
	/*.com-text-lon {
		margin-top: -1em;
	}
	.com-text-bomo {
		margin-top: -1em;
		font-size: 2em;
	}
	.com-text-vs {
		font-size: 7em;
		left: 36%;
		bottom: -5%;
	}
	.com-img-lon {
		position: static;
		width: 80%;
	}
	.com-img-bomo {
		position: static;
		width: 80%;
	}*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.motto {
		font-size: small;
		width: 50%;
	}
	.discoverBtn {
		font-size: small;
		letter-spacing: 0;
	}
	#infoContainer p {
		width: 80%;
	}
	.loc-title-container {
		margin: 0 auto 15%;
	}
	.five-reasons {
		background: url('../imgs/boatscale.jpg') top center no-repeat;
		background-size: cover;
		text-align: center;
		padding-top: 50%;
	}
	.five-container {
		margin-top: -120px;
		height: 240px;
	}
	.five {
		font-size: 6em;
		color: #968863;
	}
	.reasons {
		position: static;
		font-size: 1.8em;
		top: 32%;
		left: 42%;
		letter-spacing: -1px;
		color: #B1AFA5;
	}
	.awesome {
		position: static;
		font-size: 4em;
		top: 34%;
		left: 44%;
		font-weight: bold;
		color: #60898F;
		letter-spacing: -4px;
	}
	.loc-line-bottom {
		margin: 0;
	}


	/*.com-row {
		min-height: 60vh;
		text-align: center;
		padding: 10vh 0;
	}
	.com-img-lon {
		position: static;
		margin-top: 10%;
		width: 60%;
	}
	.com-img-bomo {
		position: static;
		width: 60%;
	}
	.com-text-lon {
		position: static;
		display: block;
		margin-top: -1em;
	}
	.com-text-bomo {
		position: static;
		display: block;
		margin-top: -1em;
		font-size: 4.5em;
	}
	.com-text-vs {
		position: static;
		display: block;
		font-size: 7em;
		left: 36%;
		bottom: -5%;
	}
	.com-text-wrapper {
		font-size: 0.6em;
	}*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*.com-text-lon {
		left: 0;
		font-size: 4em;
		bottom: 6%;
	}
	.com-text-bomo {
		right: 0;
		font-size: 3.8em;
		bottom: 6%;
	}
	.com-text-wrapper {
		font-size: 0.6em;
	}
	.com-img-lon {

		width: 44%;
		top: 14%;
	}
	.com-img-bomo {
		top: 14%;
		width: 42%;

	}*/
}




/* Styles for screen size greater than and equal to (min-width): */
@media only screen and (min-width : 769px) {
	.five {
		display: none;
	}
}







/* Viewport height media queries: */
@media only screen and (max-height: 545px) {
	.discoverBtn {
		width: 50%;
		left: 25%;
		top: 75%;
		font-size: x-small;
	}
	.motto {
		font-size: xx-small;
		width: 70%;
		left: 15%;
	}
	#infoContainer p {
		width: 100%;
	}
	.bounce {
		display: none;
	}
}